.card-forecast-today {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 10px 10px 10px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  padding-right: 10px;
  .card-forecast-today-icon {
    height: 70px;
  }
  .card-forecast-today-degree {
    font-weight: bold;
    font-size: 30px;
  }
}

.card-forecast-week {
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0;
  span {
    color: #fff;
  }
  .card-forecast-week-degree {
    font-size: 1.8em;
    font-weight: bold;
  }
  .card-forecast-week-icon {
    height: 70px;
  }
}
